@import "tailwindcss";

:root {
  --color-blue-50: #E6F1FB;
  --color-blue-100: #B5D4F4;
  --color-blue-400: #378ADD;
  --color-blue-600: #185FA5;
  --color-blue-800: #0C447C;

  --color-red-50: #FCEBEB;
  --color-red-600: #A32D2D;

  --color-amber-50: #FAEEDA;
  --color-amber-600: #854F0B;

  --color-green-50: #EAF3DE;
  --color-green-600: #3B6D11;

  --color-purple-50: #EEEDFE;
  --color-purple-600: #534AB7;

  --color-gray-50: #F1EFE8;
  --color-gray-100: #D3D1C7;
  --color-gray-200: #B4B2A9;
  --color-gray-400: #888780;
  --color-gray-600: #5F5E5A;
  --color-gray-800: #444441;
  --color-gray-900: #2C2C2A;

  --color-white: #FFFFFF;
}

@theme inline {
  --color-blue-50: var(--color-blue-50);
  --color-blue-100: var(--color-blue-100);
  --color-blue-400: var(--color-blue-400);
  --color-blue-600: var(--color-blue-600);
  --color-blue-800: var(--color-blue-800);

  --color-red-50: var(--color-red-50);
  --color-red-600: var(--color-red-600);

  --color-amber-50: var(--color-amber-50);
  --color-amber-600: var(--color-amber-600);

  --color-green-50: var(--color-green-50);
  --color-green-600: var(--color-green-600);

  --color-purple-50: var(--color-purple-50);
  --color-purple-600: var(--color-purple-600);

  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-400: var(--color-gray-400);
  --color-gray-600: var(--color-gray-600);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);

  --color-white: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-blue-50: #042C53;
    --color-blue-100: #0C447C;
    --color-blue-400: #85B7EB;
    --color-blue-600: #B5D4F4;
    --color-blue-800: #E6F1FB;

    --color-red-50: #501313;
    --color-red-600: #F09595;

    --color-amber-50: #412402;
    --color-amber-600: #FAC775;

    --color-green-50: #173404;
    --color-green-600: #C0DD97;

    --color-purple-50: #26215C;
    --color-purple-600: #CECBF6;

    --color-gray-50: #2C2C2A;
    --color-gray-100: #444441;
    --color-gray-200: #5F5E5A;
    --color-gray-400: #888780;
    --color-gray-600: #B4B2A9;
    --color-gray-800: #D3D1C7;
    --color-gray-900: #F1EFE8;

    --color-white: #1C1C1A;
  }
}